<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>全民尚网招商加盟</title>


<link rel="stylesheet" type="text/css" href="__HOME__/css/page.css">
<link rel="stylesheet" type="text/css" href="__HOME__/css/endpic.css">
<link type="text/css" rel="stylesheet" href="__HOME__/css/main.css" />
<script type="text/javascript" src="__HOME__/js/offline.js"></script><!--移动端版本兼容 -->
<script type="text/javascript">
            var mengvalue = -1;
            //if(mengvalue<0){mengvalue=0;}
            var phoneWidth = parseInt(window.screen.width);
            var phoneScale = phoneWidth / 640;

            var ua = navigator.userAgent;
            if (/Android (\d+\.\d+)/.test(ua)) {
                var version = parseFloat(RegExp.$1);
                // andriod 2.3
                if (version > 2.3) {
                    document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
                    // andriod 2.3以上
                } else {
                    document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
                }
                // 其他系统
            } else {
                document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
            }
        </script>

</head>

<body style="background:#000;">






        
        
       
        <!-- 声音控件 --><section class="u-audio" data-src="__HOME__/images/bgm.mp3"><p id="coffee_flow" class="btn_audio"><strong class="txt_audio z-hide">关闭</strong><span class="css_sprite01 audio_open"></span><div id="song_img" class="" style="display: none;"></div><div class="coffee-steam-box" style="height: 100px; width: 44px; left: 60px; top: -50px; position: absolute; overflow: hidden; z-index: 0;"></div></p></section><!-- 声音控件 end-->
        
        
        <section class="u-arrow"><p class="css_sprite01"></p></section><!-- 箭头指示引导 end--><!-- page页面内容 -->
		
		<section class="p-ct transformNode-2d" style="height: 907px;"><!-- 旋转反面 --><div class="translate-back" style="height: 907px;">
		<!-- 擦一擦--><!-- 蒙板背景图--><!-- 大图文 3-->
        
        <!-- 封页 1-->
		<div class="m-page m-fengye" data-page-type="info_pic3" data-statics="info_pic3" style="height: 907px;">
        <div class="page-con lazy-finish" >
        	<!-- 01 -->
            <div class="join01"><img src="__HOME__/images/bg.png" style="width:100%; height:100%; animation: fade-in 2s ease 0.5s 1 both; -webkit-animation: fade-in 2s ease 0.5s 1 both;"  id="wrapper" /></div>
            <div class="join_img1" style="animation: fade-in 2s ease 1s 1 both;  -webkit-animation:fade-in 2s ease 1s 1 both;"><img src="__HOME__/images/01-1.png"  style="width:100%" /></div>
            <div class="join_img2" style="animation: fade-in 2s ease 2s 1 both;  -webkit-animation: fade-in 2s ease 2s 1 both;"><img src="__HOME__/images/01-2.png" style="width:100%" /></div>
            <div class="join_img3" style="animation: fade-in 2s ease 2.5s 1 both;  -webkit-animation: fade-in 2s ease 2.5s 1 both; "><img src="__HOME__/images/01-3.png" style="width:100%" /></div>
            <div class="join_img4" style="animation: fade-in 2s ease 1s 1 both;  -webkit-animation: fade-in 2s ease 1s 1 both;"><img src="__HOME__/images/01-4.png" style="width:100%" /></div>
            <div class="join_img5" style="animation: fade-in 2s ease 1s 1 both;  -webkit-animation:fade-in 2s ease 1s 1 both;"><img src="__HOME__/images/01-5.png" style="width:100%;" /></div>
            <div class="join_img6" style="animation: fade-in 2s ease 3s 1 both;  -webkit-animation: fade-in 2s ease 3s 1 both;">全民尚网百家万园城市品牌加盟商正式开放申请</div>
            <!-- 01 end-->

        </div>
        </div>
        <!-- 封页 end-->
        
        
		<div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
        <div class="page-con j-txtWrap lazy-finish">
        	<!-- 02 -->
            <div class="join01"><img src="__HOME__/images/bg-2.png" style="width:100%; height:100%; animation: fade-in 2s ease 0.5s 1 both;  -webkit-animation: fade-in 2s ease 0.5s 1 both;"  id="wrapper" /></div>
            <div class="join2_img1" style="animation: fade-in 2s ease 1s 1 both;  -webkit-animation: fade-in 2s ease 1s 1 both;"><img src="__HOME__/images/bg2-01.png" style="width:100%" /></div>
            <div class="join2_img2" style="animation: fade-in 2s ease 1.5s 1 both;  -webkit-animation: fade-in 2s ease 1s 1 both;"><img src="__HOME__/images/bg2-02.png" style="width:100%" /></div>
            <div class="join2_img3" style="animation: fade-in 2s ease 1.5s 1 both;  -webkit-animation: fade-in 2s ease 1s 1 both;"><img src="__HOME__/images/bg2-03.png" style="width:100%" /></div>
            <div class="join2_img4">
            
            	<div class="jo2Tit"  style="animation: fade-in 2s ease 2s 1 both;  -webkit-animation: fade-in 2s ease 2s 1 both;"><img src="__HOME__/images/bg2-04.png" style="width:50%" /></div>
            	<div class="jo2Txt" >
                	<p  style="animation: fade-in 2s ease 2.5s 1 both;  -webkit-animation: fade-in 2s ease 2.5s 1 both;">仅长三角/珠三角就有1.2亿蓝领人群，大部分宿舍没有移动互联网入口，智慧wifi建设运营正逢其时，有机会成为全国<strong>2.74亿</strong>蓝领人群移动互联网入口，坐拥万亿级蓝海市场。</p>
                    <p  style="animation: fade-in 2s ease 3s 1 both;  -webkit-animation:fade-in 2s ease 3s 1 both; ">另外全国超<strong>5千万</strong>的中高职学生分布在1万5千所院校，大部分宿舍也没移动互联网入口，智慧wifi建设及运营成为他们移动互联网唯一入口！</p>
                </div>
            </div>            
            <!-- 02 end-->
        </div>
        </div>
        
        
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
        <div class="page-con j-txtWrap lazy-finish">
        	<!-- 03 -->
            <div id="list3">
               <img src="__HOME__/images/running.png" />
            </div>
            
            
            <div id="bg3_line">
                <img  src="__HOME__/images/bg3-bottom.png" />
            </div>
            
            <div id="bg3_liTop">
                <img  src="__HOME__/images/bg3-top.png" />
            </div>
            
            <div id="logo3">
                <img  src="__HOME__/images/bg3-logo.png" />
            </div>
            
            <div id="bg3_main">
                    <div id="bg3_text1">
                        <p>客户洽谈困难重重</p>
                    </div>
                    
                    <div id="xiala">
                       <img  src="__HOME__/images/bg3-icon.png" />
                    </div>
                    
                    <div id="bg3_text2">
                        <p>运营商资源匮乏</p>
                    </div>
                    
                    <div id="xiala2">
                       <img  src="__HOME__/images/bg3-icon.png" />
                    </div>
                    
                     <div id="bg3_text3">
                        <p>硬件采购繁杂</p>
                    </div>
                    
                    <div id="xiala3">
                       <img  src="__HOME__/images/bg3-icon.png" />
                    </div>
                    
                    <div id="bg3_text4">
                        <p>网建施工不标准化，网络故障重重</p>
                    </div>
                    
                    <div id="xiala4">
                       <img  src="__HOME__/images/bg3-icon.png" />
                    </div>
                    
                    <div id="bg3_text5">
                        <p>用户上线艰难，投诉不断</p>
                    </div>
                    
                    <div id="xiala5">
                       <img  src="__HOME__/images/bg3-icon.png" />
                    </div>
                    
                    <div id="bg3_text6">
                        <p>平台技术研发投入大，周期长</p>
                    </div>
                    
                    <div id="xiala6">
                       <img  src="__HOME__/images/bg3-icon.png" />
                    </div>
                    
                    <div id="bg3_text7">
                        <p>运营变现渠道单一，盈利遥遥无期</p>
                    </div>
                    
                    
                    
        
         </div>
         
         <div id="bg3_text8">
                        <p>运营变现渠道单一，盈利遥遥无期</p>
          </div>
            <!-- 03 end-->
        
        </div>
        </div>
        
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
        <div class="page-con j-txtWrap lazy-finish">
        	<!-- 04 -->
            <div id="list">
               <img src="__HOME__/images/bg4.png" />
            </div>
            
            
            <div id="bg4_line">
                <img  src="__HOME__/images/bg4-line_02.png" />
            </div>
            
            <div id="bg4_liTop">
                <img  src="__HOME__/images/bg4_liTop.png" />
            </div>
            
            <div id="logo">
                <img  src="__HOME__/images/logo_03.png" />
            </div>
            
            <div id="text1">
                <p>经过近2年的模式验证及产品研发</p>
                 <p>   及智慧wifi硬件解决方案</p>
                   <p> 并获得稳定的投资回报</p>
                   <p> 成为全国首家wifi云联合运营开放平台</p>
                    <p>并正式上线运营</p>
                
            </div>
            
            <div id="text2">
             <p>我们的目标就是让厂园/校园wifi运营不再难！</p>
            </div>
            <!-- 04 end-->
        
        </div>
        </div>
        
        
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
        <div class="page-con j-txtWrap lazy-finish">
        	<!-- 05 -->
            <div class="join01"><img src="__HOME__/images/bg-5.png" style="width:100%; height:100%; animation: fade-in 2s ease 0.5s 1 both;  -webkit-animation:fade-in 2s ease 0.5s 1 both;"  id="wrapper" /></div>
            <div class="join5_Txt1" style="animation: fade-in 2s ease 1s 1 both;  -webkit-animation: fade-in 2s ease 1s 1 both;">加入我们，共享万亿级蓝海市场</div>
            <div class="join5_img2" style="animation: fade-in 2s ease 2s 1 both;  -webkit-animation:fade-in 2s ease 2s 1 both;"><img src="__HOME__/images/logo5.png" style="width:100%" /></div>
            <div class="join5_img3" style="animation: fade-in 2s ease 2.5s 1 both;  -webkit-animation:fade-in 2s ease 2.5s 1 both;"><a href="{:U('Login/index')}" class="joinUs">加入我们</a></div>
            <div class="join5_img4">
            	<div class="jo5Img" style="animation: fade-in 2s ease 3s 1 both;  -webkit-animation:fade-in 2s ease 3s 1 both;"><img src="__HOME__/images/wx.png" style="width:100%;"  /></div>
            	<div class="jo5Txt"  style="animation: fade-in 2s ease 3.5s 1 both;  -webkit-animation:fade-in 2s ease 3.5s 1 both;">
            	<p>深圳全民尚网科技有限公司</p>
                <p>招商加盟热线：<span style="color:#179bf3;">18822889146</span>（杨）</p>
                <p>网址：www.shang-wifi.com</p>
                <p>地址：深圳龙华新区民治1980文化创意园三期7栋5层</p>
                </div>
            </div>
            <!-- 05 end-->
        </div>
        </div>
        
        
		
		
		</div><!-- 旋转反面 end--></section><!-- 正文介绍 end--<!--pageLoading--><section class="u-pageLoading"><img src="__HOME__/images/load.gif" alt="loading"></section><!--pageLoading end--><!-- 资源传递 --><!-- 模版ID --><!-- 微信分享信息 --><!-- 微信分享信息 --><!-- 微信分享信息 --><!-- 资源传递 end--><!--脚本加载-->


<script src="__HOME__/js/init.mix.js" type="text/javascript" charset="utf-8"></script>

<script src="__HOME__/js/coffee.js" type="text/javascript" charset="utf-8"></script>


<script src="__HOME__/js/99_main.js" type="text/javascript" charset="utf-8" defer＝'defer'=""></script>


<script src="__HOME__/js/view.js" type="text/javascript" charset="utf-8"></script><!--脚本加载 end-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F28d43317e8a419b40943c2a7906e7fd9' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
