<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe002;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('User/index')}"><i class="icon-font">&#xe003;</i>管理员管理</a></li>
                        <li><a href="{:U('UserInfo/index')}"><i class="icon-font">&#xe005;</i>用户信息</a></li>
                       <!--  <li><a href="{:U('Product/index')}"><i class="icon-font">&#xe006;</i>产品管理</a></li>
                       <li><a href="{:U('Category/index')}"><i class="icon-font">&#xe004;</i>分类管理</a></li>
                       <li><a href="{:U('Indeximage/index')}"><i class="icon-font">&#xe012;</i>主页图片轮播</a></li>
                       <li><a href="#"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                       <li><a href="#"><i class="icon-font">&#xe033;</i>广告管理</a></li> -->
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="#"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                        <li><a href="#"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                        <li><a href="#"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                        <li><a href="#"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
   